[submodule "deps/singleapplication"]
	path = deps/singleapplication
	url = https://github.com/itay-grudev/SingleApplication
[submodule "deps/chroma"]
	path = deps/chroma
	url = https://github.com/Ivshti/razerchroma

